.head
{
    background-color: #337353;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  
    

button,p{
    background-color: #337353;
    display: flex;
    border: #337353;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tables{
  width: 100vw;
  
}
.para{
    padding: 5px;
    border-radius: 5px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px
}